
$color-primary: #f78813;
$color-primary-dark: #472704;
$color-primary-1: #c2690b;
$color-secondary: #222224;
$color-tertiary: #003366;

$color-grey: #ebebeb;
$color-grey-dark: #777;
$color-grey-dark-1: #333;

$color-white: #fff;
$color-black: #000;
