
$color-primary: #f78813;
$color-primary-dark: #472704;
$color-primary-1: #c2690b;
$color-secondary: #222224;
$color-tertiary: #003366;

$color-grey: #ebebeb;
$color-grey-dark: #777;
$color-grey-dark-1: #333;

$color-white: #fff;
$color-black: #000;

$shadow-light: 0 2rem 5rem rgba(0,0,0,.06);
$line: 1px solid #c2690b;



$bp-largest: 75em;     // 1200px
$bp-large: 68.75em;    // 1100px
$bp-medium: 56.25em;   // 900px
$bp-small: 37.5em;     // 600px
$bp-smallest: 31.25em; // 500px
