//////////////////////////////////
// BUTTONS
.btn {
	&:link,
	&:visited {
		text-transform: uppercase;
		text-decoration: none;
		padding: 1.5rem 4rem;
		display: inline-block;
		border-radius: 10rem;
		-webkit-transition: all .2s;
		transition: all .2s;
		position: relative;
		font-size: 1.6rem;
	}

	&:hover {
		-webkit-transform: translateY(-.3rem);
		transform: translateY(-.3rem);
		-webkit-box-shadow: 0 1rem 2rem rgba($color-black,.2);
		box-shadow: 0 1rem 2rem rgba($color-black,.2);

		&::after {
			-webkit-transform: scaleX(1.4) scaleY(1.6);
			transform: scaleX(1.4) scaleY(1.6);
			opacity: 0;
		}
	}

	&:active {
		-webkit-transform: translateY(-1px);
		        transform: translateY(-1px);
		-webkit-box-shadow: 0 .5rem 1rem rgba($color-black,.2);
		        box-shadow: 0 .5rem 1rem rgba($color-black,.2);
	}

	&--orange {
		background-color: $color-primary;
		color: $color-white;

		&::after {
			background-color: $color-primary;
	
		}
	}

	&::after {
		content: "";
		display: inline-block;
		height: 100%;
		width: 100%;
		border-radius: 10rem;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		-webkit-transition: all .4s;
		transition: all .4s;
	}

	&--animated {
		-webkit-animation: moveInBottom .5s ease-out .75s;
		        animation: moveInBottom .5s ease-out .75s;
		-webkit-animation-fill-mode: backwards;
		        animation-fill-mode: backwards;
	}
}

.btn-sm {
	background-color: $color-primary;
	color: $color-white;
 	border: none;
	border-radius: 0;
	font-size: 1.5rem;
 	text-transform: uppercase;
 	padding: 1.8rem 3rem;
 	cursor: pointer;
	-webkit-transition: all .2s;
	transition: all .2s;
	outline: none;
	z-index: 20;
	
	
	&:hover {
		background-color: $color-primary-1;
		-webkit-transform: translateY(-.3rem);
		        transform: translateY(-.3rem);
		-webkit-box-shadow: 0 1rem 2rem rgba($color-black,.2);
		        box-shadow: 0 1rem 2rem rgba($color-black,.2);
	}
	
}

	.btn-text-more {
		text-align: center !important;
		
	}
	.btn-text {
		&:link,
		&:visited {
			font-size: 2.5rem;;
			color: $color-primary;
			display: inline-block;
			text-decoration: none;
			border-bottom: 1px solid $color-primary;
			padding: 3px;
			transition: all .2s;
		}
	
		&:hover {
			background-color: $color-primary;
			color: $color-white;
			box-shadow: 0 1rem 2rem rgba($color-black, .15);
			transform: translateY(-2px);
		}
	
		&:active {
			box-shadow: 0 .5rem 1rem rgba($color-black, .15);
			transform: translateY(0);
		}
	}
	
