//////////////////////////////////
// ABOUT SECTION
.about-wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    background-color: $color-grey;
    padding-bottom: 5rem;
    
    }
    
    .about-header{
        width: 100%;
        text-align: center;
        margin: 7rem;
        font-size: 3rem;
        text-transform: uppercase;
        color: $color-black;
    }
    
    .about-picture-group{
        margin: 1rem;
    }
    
    .picture{
        width: 29rem;
        height: 23rem;
        background-image: url(../img/photo-1103595_960_720.png);
        background-position: center center;
        background-size: cover;
        -webkit-box-shadow: 0 2rem 5rem rgba($color-black, .2);
                box-shadow: 0 2rem 5rem rgba($color-black, .2);
        
    }
    
    .blue-div{
        width: 24.2rem;
        height: 26rem;
        background:-webkit-gradient(
            linear,
            left top, left bottom,
            from(rgba(1, 51, 106, 0.7)),
            to(rgba(1, 51, 106, 0.7))) ;
        background:linear-gradient(
            rgba(1, 51, 106, 0.7),
            rgba(1, 51, 106, 0.7)) ;
        -webkit-box-shadow: 0 2rem 5rem rgba($color-black, .2);
                box-shadow: 0 2rem 5rem rgba($color-black, .2);
        padding: 1rem .5rem 0 .8rem;
        margin: -8rem 0 5rem 2.4rem; 
        color: white;
        font-size: 1.5rem;
        @include respond(tab-land){
            height: 26rem;
        }
    
        @include respond(tab-port){
            padding: 2rem 1rem 0 1rem;
            
        }
        
    }