//////////////////////////////////
// FOTTER
.main-footer{
	background-color: $color-grey;
	margin-top: 10rem;
	padding: 4rem 2rem 4rem 2rem;
	color: $color-black;

}


.footer-container{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	font-size: 2rem;
	@include respond(phone){
		font-size: 1.5rem;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}
}